# Sanity Configuration
# Puedes obtener estos valores en el panel de control de Sanity.io
PUBLIC_SANITY_PROJECT_ID=tu_id_de_proyecto
PUBLIC_SANITY_DATASET=production

# Webhook de Pedidos (Make.com)
# El webhook debe recibir el pedido y devolver un JSON con { "status": "success", "url": "link_de_whatsapp" }
PUBLIC_MAKE_WEBHOOK_URL=https://hook.us1.make.com/tu_webhook_aqui

